@import "../core/reset.scss";
@import "../core/Vars.scss";



.accordion {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    &__accordion {
        width: 300px;
    }

    &__item { 
        background-color: $--color-light-blue;
        padding: 5px 10px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 3px solid $--color-blue;
    }

    &__titleAndContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        color: $--color-dark-blue;
        margin: 10px 5px 10px 5px;
    }

    &__title {
        font-size: 16px;
    }

    &__img {
        size: 300px;
    }


    &__content {
        font-size: 14px;
        line-height: 30px;
        color: $--color-dark-blue;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0, 1, 0, 1);

        &.show {
            height: auto;
            max-height: 9999;
            transition: all 0.5s cubic-bezier(1, 0, 1, 0);
           
        }
    }

}


@media all and (min-width:768px) {

    .accordion {
        &__accordion {
            width: 600px;
        }

        &__item {
            padding: 10px 20px;
        }

        &__title {
            font-size: 20px;
        }

        &__content {
            font-size: 16px;
           
        }

    }
}


@media all and (min-width:768px) {

    .accordion {
        &__accordion {
            width: 800px;
        }

    }
}









