@import "../core/reset.scss";
@import "../core/Vars.scss";


.card {
    position: relative;
    border: 3px solid $--color-pink;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 10px;
    color: $--color-dark-blue;  
    background-color: $--color-white;
    width: 250px;
    height: 420px;
    transition: background-color 0.5s ease-out;


    &:hover {
        background-color: $--color-light-blue;
        
    }

  
    &__img {
        border-radius: 10px 10px 0 0;
        margin-bottom: 30px;
    }

    &__info {
        margin: 0 15px 15px 15px;    
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly; 
    }

    &__name {
        margin-bottom: 15px;
        font-size: 20px;
    }

    &__location{
        font-weight: bold;
    }

   
    &__status {
        position: absolute;
        top: 15px;
        right: 10px;
        border-radius: 4px;
        color: $--color-white;
        padding: 5px 10px 5px 10px;
        letter-spacing: 0.5px;
        font-weight: 600;
        font-size: 14px;

        &--alive {
        background-color: $--color-alive;
        }

       &--dead {
         background-color: $--color-dead;
        }
        
       &--unknown {
         background-color: $--color-unknown;
       }
    }
}


@media all and (min-width:768px) {
    .card {
        margin: 0px 40px 40px 40px;

    }
}





