@import "../core/reset.scss";
@import "../core/Vars.scss";

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;   
    // background: linear-gradient(#c6ffdd,    #fbd786,
    // #f7797d);
    // background: linear-gradient(
    //     #78ffd6,
    //     #c6ffdd,
    //     #78ffd6,
    //     #c6ffdd,
    //     #78ffd6,
    //     );
        background: linear-gradient(
            #c6ffdd,
            
            #78ffd6,
            );
        

}

@media all and (min-width:768px) {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 100px;
        justify-content: center;
    }
}