@import "../core/reset.scss";
@import "../core/Vars.scss";

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10 0 5;
    justify-content: space-evenly;
    background-color: $--color-nav;
    color: $--color-dark-blue;
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: none;
    z-index: 100;
   
    &__logo {
        width: 80px;
    }

    &__link {
        width: fit-content;
        height: 25px;
       

        &:hover {
            border-bottom: 2px solid $--color-white;
        }
    }
}