@import "../core/reset.scss";
@import "../core/Vars.scss";

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    &__btn {
        background-color: $--color-dark-blue;
        padding: 5px 10px 5px 10px;
        color: $--color-white;
        letter-spacing: 1px;
        border-radius: 8px;
        margin: 5px;
    }

    &__number {
        border: 1px solid $--color-blue;
        padding: 5px;
        width: 35px;
        text-align: center;
        margin: 2px; 
        border-radius: 50px;
        background-color: $--color-light-green;
    }

    &__active {
        background-color: $--color-light-blue;
    }
}

