* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    a:link { text-decoration: none; }
}

body {
// background-image: url(../../images/bg-3.png);
// background-attachment: fixed;
// background-position: center center;
// background-repeat: no-repeat;
// background-size: cover;
}