//COLORS

$--color-light-blue: #A5F1E9;
$--color-blue: #7FBCD2;
$--color-medium-blue: #8BBCCC;
$--color-dark-blue: #25316D;
$--color-yellow: #FFEEAF;
$--color-light-green: #E1FFEE;
$--color-white: #ffff;
$--color-nav: #b6f0d0bd;
$--color-links-nav:#0a58ca;


// TODO:CHANGE COLOR STATUS
//CHARACTER-STATUS
$--color-alive: #7FB77E;
$--color-alive: #31f04b;
$--color-dead: #E64848;
$--color-unknown: #2B4865;
$--color-pink: #f32ae9;
$--color-dark-pink: #ff00b3;
